.alt_screen{
	position:fixed;
	height:100%; 
	top:60px; 
	left:0; 
	width:100%; 
	z-index:10;
	text-align:center; 
	background:#e5e5e5; 
	overflow:scroll; 
	padding-bottom:164px; 
	display:none;
	.alt_screen_content{ 
		background:#00965e; 
		height:195px; 
		width:100%;
		color:#ffffff; 
		text-transform: uppercase; 
		line-height:1.11;
		p{
			font-size:14px;
			padding:0 60px;
			@include regular;
		}
	}
}
p.push_screen_Icon{ 
	font-size:42px; 
	margin-top:53px; 
	margin-bottom:13px;
}
.alt_screen_or{ 
	background-color:#1ea360; 
	border-radius:20px; 
	font-size:14px;
	padding:8px 9px; 
	color:#fff; 
	position:relative; 
	top:-8px;
}
.alt_screen_img{ 
	a{ 
		width:161px; 
		height:48px; 
		margin:0 auto;
		margin-top:7px; 
		display:block;
		img{
			width:100%; 
			height:100%;
		}
	}
}
.alt_screen_CTA{ 
	position:fixed; 
	bottom:0; 
	width:100%; 
	background-color:#ffffff;
	a{ 
		width:50%; 
		font-size:1em; 
		float:left; 
		font-family:regular; 
		padding:20px 10px;
		border-right: 1px solid #e5e5e5; 
		height:84px; 
		cursor:pointer;
		&:last-child{ 
			border:none;
		}
		p{ 
			margin-bottom:8px;
		}
	}
	.icon2_hideS{
		font-size:18px;
	}
}

